# Exploratory Data Analysis - Usage Dataset

---
### <i>Changelogs:</i>

  Name  |  Date  |   Description
- **Kiet Vu**  |  03/17  | Create notebook. Minor Editing. Create "Data Understanding" section.

---

## Table of Contents
**Each phase of the process:**
1. [Data Understanding](#Dataunderstanding)
    1. [Initial Data Report](#Datareport)
    2. [Describe Data](#Describedata)
    3. [Verify Data Quality](#Verifydataquality)
        1. [Missing Data](#MissingData) 
        2. [Outliers](#Outliers)
    4. [Initial Data Exploration](#Exploredata)
    5. [Data Quality Report](#Dataqualityreport)
2. [Data Preparation](#Datapreparation)
    1. [Select Your Data](#Selectyourdata)
    2. [Cleanse the Data](#Cleansethedata)
        1. [Label Encoding](#labelEncoding)
        2. [Drop Unnecessary Columns](#DropCols)
        3. [Altering Data Types](#AlteringDatatypes)
        4. [Dealing With Zeros](#DealingZeros)
        5. [Dealing With Duplicates](#DealingDuplicates)
        4. [Remove Outliers](#RemoveOutliers)
    3. [Construct Required Data](#Constructrequireddata)
    4. [Integrate Data](#Integratedata)
3. [Exploratory Data Analysis](#EDA)
4. [Modelling](#Modelling)
5. [Evaluation](#Evaluation)
6. [Deployment](#Deployment)

If you want to learn more about CRISP-DM, please refer to this link: https://www.sv-europe.com/crisp-dm-methodology/

In [1]:
# Import Libraries Required
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
#import folium
#from folium import plugins
#!pip install --upgrade geopandas
#import geopandas

In [2]:
# Import the orginal dataset
df = pd.read_csv('Clean Data/usage_clean_20230314.csv',encoding_errors='ignore')
df = df.copy()
# first 30 records
df.head(30)

                   unique_identifier     usage    status
0   0001230a214b39e0e5c463bfe440fb15   81440.0  FINALLED
1   000345e997e72b61b990d2689c76427f     556.3    ACTIVE
2   0003c4d7aeb24f319f0d7c6ddb60bb8f   32564.0  FINALLED
3   00082675e86a9f3cf5fdcc5d4cd9114d    5519.0  FINALLED
4   00095201031df44962513f378842d521    5946.0    ACTIVE
5   000a04481ee5acbb856a7c485a67423a   75468.0  FINALLED
6   000bee0b537b676a975a15999776581f   88280.0  FINALLED
7   000c88d34beda722f7b559bb056b7809  109258.0    ACTIVE
8   000f645a52095f72ec723133e2b0092c    9686.0  FINALLED
9   00109796f3c34d87f1ff2778498a8016   65700.0  FINALLED
10  0012e632be3d04fab35771fe3fb6db31   15194.0    ACTIVE
11  00130d1949e17227076bc7e4f75139af   22534.0    ACTIVE
12  00132da27bf07ae535d944c55f820f3e  247200.0    ACTIVE
13  0013e9592f8ddda6e6c3d6ef65523ed4   74304.0  FINALLED
14  001ad04ecd4caddf37a7ebf6caafaa6c   83016.0  FINALLED
15  001bd1817a1253f08b137041be4c3c9d   49813.0    ACTIVE
16  001ed9def989e5da26bf2dfc2cb0e8cc    8083.0    ACTIVE
17  001f13bf8ee7f7492974bb0336a77050    3181.0  FINALLED
18  001f8624e5391dc5c6fa6c35b883dd94   34272.0  FINALLED
19  00218024e941fddb05762b121ebdf5d1    9535.0    ACTIVE
20  0024b6930d8fdcf2a51c864573d22f61       5.1    ACTIVE
21  0025aeda3082aaa35e76bffefff29024    2517.0    ACTIVE
22  0026577e0126dccd4ae6928f8b5951e1   19025.0    ACTIVE
23  0026692138a0f60512c28f95bc26776e     240.0    ACTIVE
24  0026bddc20b14bb9e988c60e2accca9c     333.0  FINALLED
25  0027596a0e7252b3739cac6d56605226   68500.0    ACTIVE
26  0027a56994cb3c852a1da20ecc98ddc4   23857.8    ACTIVE
27  00292d1130a5b31886e6ea5b98142e41   26655.0  FINALLED
28  002b16fa70e9ed3ccc4b781b2f6bafc9    7874.0    ACTIVE
29  002d46249597829ea4abb009907a62d9   75160.0  FINALLED

---
## 1. Data Understanding <a class="anchor" id="Dataunderstanding"></a>

### 1.2 Describe Data <a class="anchor" id="Describedata"></a>

In [3]:
df.dtypes

unique_identifier     object
usage                float64
status                object
dtype: object

In [4]:
df.columns

Index(['unique_identifier', 'usage', 'status'], dtype='object')

In [5]:
df.size

152658

In [6]:
df.shape

(50886, 3)

In [7]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50886 entries, 0 to 50885
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   unique_identifier  50886 non-null  object
 1   usage              50886 non-null  float64
 2   status             50886 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [8]:
df.describe()

              usage
count  5.088600e+04
mean   7.270579e+04
std    3.675301e+05
min    1.000000e-01
25%    9.922000e+03
50%    2.484000e+04
75%    6.028650e+04
max    4.170917e+07