# Supervised Modelling

---
### <i>Changelogs:</i>

  Name  |  Date  |   Description
- **Kiet Vu**  |  03/23  | File Created.

---

- **[Logistic Regression](#LogisticRegression)**:
This is a popular statistical method used for binary classification problems. You can use logistic regression to predict the target variable based on the categorical attributes.
        Columns chosen:
<br>

- **[Decision Trees](#DecisionTrees)**:
Decision trees are a popular algorithm for classification problems, especially when the data has categorical attributes. Decision trees can be used to split the data based on the categories of the attributes, and make a prediction based on the majority class at each leaf node.
        Columns chosen:
<br>

- **[Random Forests](#RandomForests)**: 
Random forests are an ensemble method that combines multiple decision trees to improve the accuracy of the predictions. Random forests are especially useful for high-dimensional datasets with a large number of categorical attributes.
        Columns chosen:
<br>

- **[Naive Bayes](#NaiveBayers)**: 
Naive Bayes is a simple probabilistic algorithm used for classification tasks. It assumes that the attributes are conditionally independent given the target variable, and uses Bayes' theorem to calculate the probability of each class given the attributes.
        Columns chosen:
<br>

- **[K-Nearest Neighbor (K-NN)](KNN)**: 
K-NN is a non-parametric algorithm that can be used for classification tasks. It works by finding the K nearest neighbors of a new data point based on the categorical attributes, and assigning a class label based on the majority class of the neighbors.
        Columns chosen:
        
---

## Import libraries and raw data

In [1]:
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import silhouette_score

In [2]:
df_firmographic = pd.read_csv("Raw Data/firmographic_append_data_20230306.csv", low_memory=False)
df_firmographic.head(15)

,unique_identifier,B2B_ADDR_ZIP5,B2B_ADDR_STATE,B2B_ACCEPT_CREDIT_CARD_FLAG,B2B_ACCOUNTING_EXPENSE_CODE,B2B_AD_SIZE,B2B_ADVERTISING_EXPENSE_CODE,B2B_ASSET_FLAG,B2B_BANKRUPTCY_DATE,B2B_BANKRUPTCY_FLAG,...,B2B_TOT_SALES_VOLUME,B2B_TRANSACTION_CODE,B2B_TRANSACTION_TYPE,B2B_TRUE_FRNCHSE_FLAG,B2B_UTILITY_CODE,B2B_WEALTH_FLAG,B2B_WHITE_COLLAR_FLAG,B2B_WHITE_COLLAR_PRCNT,B2B_YEAR_SIC_ADD,CAC_SEGMENT
0,0001230a214b39e0e5c463bfe440fb15,44240.0,OH,NaN,C,A,A,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,D,NaN,NaN,25.0,201801.0,Manufacturing
1,000345e997e72b61b990d2689c76427f,15218.0,PA,NaN,D,A,C,NaN,NaN,NaN,...,NaN,A,NaN,NaN,B,NaN,1.0,99.0,198405.0,Business and Finance
2,0003c4d7aeb24f319f0d7c6ddb60bb8f,44067.0,OH,ADMV,C,B,B,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,A,1.0,NaN,16.0,201909.0,Personal Services
3,00082675e86a9f3cf5fdcc5d4cd9114d,60618.0,IL,NaN,D,NaN,B,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,C,NaN,NaN,21.0,199104.0,Blue Collar Work
4,00095201031df44962513f378842d521,61111.0,IL,DMV,A,A,A,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,A,NaN,1.0,83.0,201303.0,General Merchandise
5,000a04481ee5acbb856a7c485a67423a,62526.0,IL,NaN,E,A,D,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,D,NaN,1.0,50.0,201902.0,Personal Services
6,000a1fe8f9d0caf306b805de359b6947,14472.0,NY,NaN,G,B,F,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,D,NaN,1.0,54.0,202208.0,Wholesale
7,000bee0b537b676a975a15999776581f,2110.0,MA,NaN,C,B,C,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,A,NaN,NaN,10.0,202011.0,Food and Dining
8,000c88d34beda722f7b559bb056b7809,78064.0,TX,ADMV,A,A,A,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,A,NaN,NaN,29.0,201303.0,Hotels and Educational Boarding
9,000cc270c1cc3f09a4a80c2489ce4bac,8401.0,NJ,ADMV,E,A,E,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,B,NaN,NaN,10.0,200309.0,Food and Dining
10,000ea4af96ab938b2612e0b39738e334,7032.0,NJ,ADMV,D,B,B,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,D,NaN,NaN,29.0,201902.0,Manufacturing
11,000f645a52095f72ec723133e2b0092c,45601.0,OH,NaN,D,NaN,A,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,B,NaN,1.0,97.0,202007.0,"Public, Health, and Social Services"
12,00109796f3c34d87f1ff2778498a8016,18330.0,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,201909.0,Unknown
13,0012e632be3d04fab35771fe3fb6db31,60467.0,IL,NaN,A,NaN,A,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,A,1.0,NaN,16.0,201804.0,Personal Services
14,00130d1949e17227076bc7e4f75139af,43026.0,OH,NaN,A,NaN,A,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,A,NaN,1.0,67.0,202002.0,Personal Services

---
## Logistic Regression <a class="anchor" id="LogisticRegression"></a>

---
## Decision Trees <a class="anchor" id="DecisionTrees"></a>

---
## Random Forests <a class="anchor" id="RandomForests"></a>

---
## Naive Bayers <a class="anchor" id="NaiveBayers"></a>

---
## K-Nearest Neighbor (K-NN) <a class="anchor" id="KNN"></a>