In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt

In [2]:
# Firmographic file
df_firmographic = pd.read_csv("/Users/baodinhgiatran/Desktop/DATA 490/Raw Data/firmographic_append_data_20230306.csv")

/var/folders/74/hvvyjn317tj9gl3n3gpqs3fw0000gn/T/ipykernel_4551/1940750326.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_firmographic = pd.read_csv("/Users/baodinhgiatran/Desktop/DATA 490/Raw Data/firmographic_append_data_20230306.csv")

In [3]:
# Usage file
df_usage = pd.read_csv("/Users/baodinhgiatran/Desktop/DATA 490/Raw Data/usage_dataset_20230306.csv")

In [4]:
#test join

df_firmographic_join = df_firmographic[['unique_identifier','B2B_ADDR_ZIP5']].copy()

In [5]:
df_usage_join = df_usage.groupby(["unique_identifier"]).agg({ 'usage':'sum'})

In [6]:
df = df_firmographic_join.merge(df_usage_join, on='unique_identifier', how='left')
print(df)

                      unique_identifier  B2B_ADDR_ZIP5    usage
0      0001230a214b39e0e5c463bfe440fb15        44240.0  81440.0
1      000345e997e72b61b990d2689c76427f        15218.0    556.3
2      0003c4d7aeb24f319f0d7c6ddb60bb8f        44067.0  32564.0
3      00082675e86a9f3cf5fdcc5d4cd9114d        60618.0   5519.0
4      00095201031df44962513f378842d521        61111.0   5946.0
...                                 ...            ...      ...
59881  fffce8918ebaae88423f62806f22c414         2026.0  11080.0
59882  fffd155082881fa090b08ca6ceed7005        78503.0  93876.0
59883  fffe3fcb6ca0166ec15af3958ac145e8         2453.0   9072.0
59884  fffef4c75ffee0863657cb631c4245cf         7945.0      NaN
59885  fffffb3ada2f6e1000a34c41725268ff        60035.0  20892.0

[59886 rows x 3 columns]

In [7]:
df.dropna()

                      unique_identifier  B2B_ADDR_ZIP5    usage
0      0001230a214b39e0e5c463bfe440fb15        44240.0  81440.0
1      000345e997e72b61b990d2689c76427f        15218.0    556.3
2      0003c4d7aeb24f319f0d7c6ddb60bb8f        44067.0  32564.0
3      00082675e86a9f3cf5fdcc5d4cd9114d        60618.0   5519.0
4      00095201031df44962513f378842d521        61111.0   5946.0
...                                 ...            ...      ...
59879  fff7c0d1b2f896b1018ef67a9d286361         2472.0  11980.0
59881  fffce8918ebaae88423f62806f22c414         2026.0  11080.0
59882  fffd155082881fa090b08ca6ceed7005        78503.0  93876.0
59883  fffe3fcb6ca0166ec15af3958ac145e8         2453.0   9072.0
59885  fffffb3ada2f6e1000a34c41725268ff        60035.0  20892.0

[50885 rows x 3 columns]